Repository armaniacs/cost-sim-vm-lambda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @enterprise-team, @security-team, @backend-team, @api-team, @data-team, @frontend-team, @qa-team, @devops-team, @tech-writing-team

.github/CODEOWNERS:

# Code ownership for enterprise repository

# Default owners for everything in the repo
* @enterprise-team @security-team

# Core application code
/app/ @backend-team @security-team

# Authentication and security
/app/auth/ @security-team @backend-team

# API endpoints
/app/api/ @api-team @backend-team

# Database and models
/app/models/ @data-team @backend-team

# Frontend and templates
/app/templates/ @frontend-team
/app/static/ @frontend-team

# Tests
/tests/ @qa-team @backend-team

# CI/CD and infrastructure
/.github/ @devops-team @security-team
/Dockerfile @devops-team
/docker-compose*.yml @devops-team

# Documentation
/docs/ @tech-writing-team
/README*.md @tech-writing-team
/CLAUDE.md @enterprise-team

# Security and compliance
/requirements*.txt @security-team
/.pre-commit-config.yaml @security-team

# Configuration
/app/config.py @devops-team @security-team
/.mise.toml @devops-team
/pyproject.toml @backend-team

# Reference documentation
/ref/ @tech-writing-team @enterprise-team

fix: update license to Apache 2.0 in documentation
  README.md
  package.json
Owners: @tech-writing-team, @enterprise-team, @security-team

docs: add comprehensive security implementation with UI/UX preservation requirements
  DEVELOPMENT.md
  Design/PBI/PBI-SEC-A.md
  Design/PBI/PBI-SEC-B.md
  Design/PBI/PBI-SEC-C.md
  Design/PBI/PBI-SEC-D.md
  Design/security-implementation-report.md
  app/models/database.py
  app/security/anomaly_detector.py
  app/security/audit_logger.py
  app/security/env_validator.py
  app/security/integrity_checker.py
  ref/docker-implementation.md
  tests/e2e/test_pbi_sec_a_authentication.py
  tests/e2e/test_pbi_sec_b_secure_communications.py
  tests/e2e/test_pbi_sec_c_input_validation_data_protection.py
  tests/e2e/test_pbi_sec_d_security_audit_compliance.py
  tests/unit/test_pbi_sec_a_env_validator.py
Owners: @enterprise-team, @security-team, @data-team, @backend-team, @tech-writing-team, @qa-team

chore: update .gitignore for development files
  .gitignore
Owners: @enterprise-team, @security-team

feat: complete SEC-01 implementation with secure secret management
  .env.development.example
  .mise.local.toml.example
  .mise.toml
  CLAUDE.md
  DEVELOPMENT.md
  app/auth/jwt_auth.py
  app/config.py
  app/main.py
  app/security/config.py
Owners: @enterprise-team, @security-team, @devops-team, @backend-team

fix: extend Cost Comparison Graph X-axis to cover full display range
  app/templates/index.html
Owners: @frontend-team

feat: enhance SEC-02 authentication and improve UI flexibility
  app/api/auth_api.py
  app/main.py
  app/templates/index.html
  requirements.txt
Owners: @api-team, @backend-team, @security-team, @frontend-team

docs: add comprehensive development session log
  DEVELOPMENT.md
Owners: @enterprise-team, @security-team

feat: change Execution Frequency default to 1/second
  app/templates/index.html
Owners: @frontend-team

feat: add Lambda Memory Size custom input support
  app/templates/index.html
Owners: @frontend-team

docs: update development session log with Lambda Memory Size implementation
  DEVELOPMENT.md
Owners: @enterprise-team, @security-team

feat: add Exchange Rate custom input support and complete SEC-07
  app/templates/index.html
Owners: @frontend-team

feat: implement comprehensive Japanese internationalization (i18n) support
  Design/PBI/PBI-I18N-JP.md
  app/static/css/style.css
  app/static/i18n/en/common.json
  app/static/i18n/ja/common.json
  app/static/js/i18n.js
  app/templates/base.html
  app/templates/index.html
Owners: @enterprise-team, @security-team, @frontend-team

feat: add comprehensive serverless provider PBI specifications
  Design/PBI/PBI13.md
  Design/PBI/PBI14.md
  Design/PBI/PBI15.md
Owners: @enterprise-team, @security-team

fix: VM instance comparison display issue when toggled OFF
  app/extensions.py
  app/templates/index.html
Owners: @backend-team, @security-team, @frontend-team

docs: build comprehensive reference documentation for implementation details
  CLAUDE.md
  Design/PBI/README.md
  Design/PBI/implemented/PBI-I18N-JP.md
  Design/PBI/implemented/PBI-SEC-A.md
  Design/PBI/implemented/PBI01.md
  Design/PBI/implemented/PBI02.md
  Design/PBI/implemented/PBI03.md
  Design/PBI/implemented/PBI04.md
  Design/PBI/implemented/PBI05.md
  Design/PBI/implemented/PBI06-implementation-report.md
  Design/PBI/implemented/PBI06.md
  Design/PBI/implemented/PBI07-implementation-report.md
  Design/PBI/implemented/PBI07.md
  Design/PBI/implemented/PBI08-implementation-report.md
  Design/PBI/implemented/PBI08.md
  Design/PBI/implemented/PBI09-implementation-report.md
  Design/PBI/implemented/PBI09.md
  Design/PBI/implemented/PBI10.md
  Design/PBI/not-todo/PBI-SEC-B.md
  Design/PBI/not-todo/PBI-SEC-C.md
  Design/PBI/not-todo/PBI-SEC-D.md
  Design/PBI/not-todo/PBI11.md
  Design/PBI/not-todo/PBI12.md
  Design/PBI/not-todo/PBI13.md
  Design/PBI/not-todo/PBI14.md
  Design/PBI/not-todo/PBI15.md
  README-Development.md
  README.md
  app/api/calculator_api.py
  app/models/serverless_calculator.py
  app/static/i18n/ja/common.json
  ref/README.md
  ref/api-endpoints-reference.md
  ref/cost-calculation-algorithms-reference.md
  ref/implementation-architecture-reference.md
  ref/security-architecture.md
  ref/testing-framework-guide.md
  ref/ui-requirements.md
  tests/unit/test_serverless_api.py
  tests/unit/test_serverless_calculator.py
Owners: @enterprise-team, @security-team, @tech-writing-team, @api-team, @backend-team, @data-team, @frontend-team, @qa-team

chore: add .serena/ directory to .gitignore
  .gitignore
Owners: @enterprise-team, @security-team

feat: complete comprehensive security review and documentation
  ref/security-review-report.md
Owners: @tech-writing-team, @enterprise-team

feat: add comprehensive monitoring services and testing infrastructure
  IMPROVEMENTS_SUMMARY.md
  app/pricing_config/lambda_pricing.json
  app/services/alerting/__init__.py
  app/services/alerting/correlation.py
  app/services/alerting/escalation.py
  app/services/alerting/handlers.py
  app/services/alerting/models.py
  app/services/alerting/service.py
  app/services/calculation_service.py
  app/services/service_container.py
  app/static/js/api-client.js
  app/utils/api_response.py
  security_scan.json
  tests/unit/test_alerting_service.py
  tests/unit/test_alerting_service_simplified.py
  tests/unit/test_api_response.py
  tests/unit/test_apm_service.py
  tests/unit/test_cache_service.py
  tests/unit/test_calculation_service.py
  tests/unit/test_calculator_api.py
  tests/unit/test_calculator_api_comprehensive.py
  tests/unit/test_calculator_api_success_paths.py
  tests/unit/test_csv_sanitizer.py
  tests/unit/test_database.py
  tests/unit/test_env_validator.py
  tests/unit/test_extensions.py
  tests/unit/test_main.py
  tests/unit/test_monitoring_api.py
  tests/unit/test_monitoring_api_simple.py
  tests/unit/test_performance_api.py
  tests/unit/test_performance_monitor.py
  tests/unit/test_service_container.py
  tests/unit/test_validation.py
Owners: @enterprise-team, @security-team, @backend-team, @frontend-team, @qa-team

refactor: improve code formatting and fix pre-commit configuration
  .pre-commit-config.yaml
  app/main.py
  app/services/async_db_service.py
  app/services/logging_service.py
  app/services/query_optimizer.py
  requirements.txt
  tests/integration/test_monitoring_integration.py
  tests/unit/test_alerting_service.py
  tests/unit/test_performance_api.py
Owners: @security-team, @backend-team, @qa-team

chore: clean up log files and update gitignore
  .gitignore
Owners: @enterprise-team, @security-team
